@font-face{
	 font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
div{
	margin-left: 35%;
	margin-right: 35%;
}
body{
	background-color: #E9EBEC;
}
textarea{
	resize: vertical;
	outline: none;
	font-size: larger;
	border-style: solid;
	border-radius: 6px;
	border-color: #D3D6D8;
	border-width: 2px;
}